<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionName="0.0.1"
    package="com.pandroid">


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->

    <application
        android:name="com.pandroid.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:excludeFromRecents="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.pandroid.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.pandroid.message.MainActivity_Camera">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.pandroid.main.PermissionsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName="com.pandroid.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pandroid.main.MainActivity" />
        </activity>

        <activity android:name="com.pandroid.message.FightListPreferenceActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.pandroid.ftp.swiftp.gui.MainActivity_Ftp"
            android:theme="@style/AppThemeDark">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            </intent-filter>
        </activity>

        <activity
            android:name="com.pandroid.ftp.ftp4j_client.FtpMainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.pandroid.ftp.swiftp.FsService" />
        <receiver
            android:name="com.pandroid.ftp.swiftp.gui.FsNotification"
            android:exported="false">
            <intent-filter>
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>

        <service android:name="com.pandroid.ftp.swiftp.NsdService" />
        <receiver
            android:name="com.pandroid.ftp.swiftp.NsdService$StartStopReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>
        <!-- Don't export this receiver in free, this clashes with paid -->
        <receiver
            android:name="com.pandroid.ftp.swiftp.RequestStartStopReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="be.ppareit.swiftp.ACTION_START_FTPSERVER" />
                <action android:name="be.ppareit.swiftp.ACTION_STOP_FTPSERVER" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.pandroid.ftp.swiftp.WifiStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name="com.pandroid.ftp.swiftp.WifiStateChangeReceiver$StartServerService" />
        <service android:name="com.pandroid.ftp.swiftp.WifiStateChangeReceiver$StopServerService" />

        <receiver
            android:name="com.pandroid.ftp.swiftp.gui.FsWidgetProvider"
            android:exported="false"
            android:icon="@mipmap/launcher"
            android:label="@string/swiftp_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.pandroid.ftp.swiftp.gui.FsWidgetProvider$UpdateService" />

        <activity
            android:name="com.pandroid.socket.ASocketActivity"
            android:label="socket" >
            <!--<intent-filter>-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.pandroid.luce.CellSettingMainActivity">
            <intent-filter>
                <!--<action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>